<%-include('../partial/head.ejs') %>
</head>

<body>
  <%-include('../partial/navigation.ejs') %>
  
  <h1>About Page</h1>
  
  
  <%-include('../partial/footer.ejs') %>
  <%-include('../partial/end.ejs') %>
  
  